//Custom styles for the FiveAlive Kiwi option theme.
$tiki-top-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //

@import "../../../scss/variables";
// Color system

// scss-docs-start gray-color-variables
$white:    #fff;  // default
$gray-100: #f8f9fa;  // default
$gray-200: #e9ecef;  // default
$gray-300: #dee2e6;  // default
$gray-400: #ced4da;  // default
$gray-500: #adb5bd;  // default
$gray-600: #6c757d;  // default
$gray-700: #495057;  // default
$gray-800: #343a40;  // default
$gray-900: #212529;  // default
$black:    #000;  // default
// scss-docs-end gray-color-variables

// scss-docs-start gray-colors-map
$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
);  // default
// scss-docs-end gray-colors-map

// scss-docs-start color-variables
$blue:    #0d6efd;  // default
$indigo:  #6610f2;  // default
$purple:  #6f42c1;  // default
$pink:    #d63384;  // default
$red:     #dc3545;  // default
$orange:  #fd7e14;  // default
$yellow:  #ffc107;  // default
$green:   #198754;  // default
$teal:    #20c997;  // default
$cyan:    #0dcaf0;  // default
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "black":      $black,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
);  // default
// scss-docs-end colors-map

$red-300: tint-color($red, 40%);  // default
$green-300: tint-color($green, 40%);  // default

$primary:       #ebdc14;
$secondary:     #5E7F34; //#648737;
$success:       #5cb85c;
$info:          #96a032;
$warning:       #f0ad4e;
$danger:        #D13B00; //#ff5c1a;
$light:         #ffffff;
$dark:          #817804; //#a59705;

$theme-colors: (
    "primary":           #ebdc14,
    "secondary":         #5E7F34, //#648737,
    "success":           #5cb85c,
    "info":              #96a032,
    "warning":           #f0ad4e,
    "danger":            #D13B00, //  #ff5c1a,
    "light":             #ffffff,
    "dark":              #817804 //  #a59705
);

// The following are default values from node_modules/bootstrap/scss/variables.scss - change as needed for theme child option (or to match values in parent theme).
// Comment-out any that are already defined in the parent theme variables.scss file and shouldn't be redefined.
$min-contrast-ratio:  3;

$color-contrast-dark:             $gray-900;
$color-contrast-light:            $white;

// Options

// Prefix
$prefix: bs-;

// Body
$body-color: $black;

// $bg-light: #a59705; //#a59705 !important;  (Changing tactics for Bootstrap 5)

$link-color: #52702E; // #638637;
$link-hover-color: #a59705;
$link-hover-color:               darken($link-color, 15%);
$link-hover-decoration:       none;
$link-shade-percentage:                   20%;  // default

$btn-link-disabled-color:     $gray-600;

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #f8f9d4;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #638637;

// Navbars

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
//$bg-dark-link-hover-bg: #638637;

// Typography
$hr-color: #a59705;
$text-success: #288040 !important;
$text-danger: #d63d00 !important;
$text-muted: var(--#{$prefix}secondary-color);  // default // Deprecated in 5.3.0 -- #5b6269;
$headings-font-weight: 700;

$card-border-color: #332f02;
$card-title-color: #252729;

// Tables
$table-border-color: #dbd11a;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #dbd11a; // Maybe can be improved.

// Forms
$input-color: var(--#{$prefix}body-color);  // default // #343a40;
$input-bg: var(--#{$prefix}body-bg);  // default // #f8f9d4;
$input-border-color: var(--#{$prefix}border-color);  // default // #f8f9d4;
$input-border-top-color: #f5fb86;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #f5fb86;

// Form validation

// Dropdowns
$dropdown-bg: #baba25;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #000;
$dropdown-link-hover-color: lighten(#000, 10%);
$dropdown-link-hover-bg: #638637;
$dropdown-link-active-color: $dropdown-link-color;
$dropdown-link-active-bg: $dropdown-link-hover-bg;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$dropdown-dark-color: #fff;
$dropdown-dark-bg: #8a8309;

// Pagination
$nav-pills-link-active-bg: #5E7F34; //#638637;
$pagination-color: #638637;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #a59705;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg:#5E7F34; //#638637;
$pagination-active-border-color: #638637;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

$enable-gradients: true;
$enable-shadows: true;

// Code

$code-color:                     $body-color; //    $pink;  default
// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
//$bg-light-alt: #117485 !important;

$side-column-heading-color: #7E7615; // #332f02;
$page-header-link-color: #000;

$top-bg: #96a032;
$top-color: #242424;
$top-link-color: $gray-900;
$top-link-hover-color: $gray-800;
$topbar-bg: #063065;
$topbar-link-color: #fff;

$topbar-dark-bg: #332f02;
$top-light-bg: transparent; // #117485;
$top-light-color: $gray-900;
$top-light-link-color: $top-light-color;
$topbar-light-bg: #063035;
$topbar-light-color: #f9f9f9;

$top-dark-bg: transparent; // #117485; // $top-light-bg; defining the variable with a variable didn't work.
$top-dark-color: $black;
$top-dark-link-color: $top-dark-color;
//$topbar-dark-bg: #063035; // $topbar-light-bg;
$topbar-dark-color: $topbar-light-color;

$navbar-light-color: $top-light-color;
$navbar-light-link-color: $top-light-color;
$navbar-light-link-hover-color: lighten($top-light-color,10%);
//$navbar-light-link-hover-bg: #003c4a;

$navbar-dark-color: $white;
$navbar-dark-link-color: $white;
$navbar-dark-link-hover-color: #f2f2f2;
//$navbar-dark-hover-color: $navbar-light-link-hover-color;
//$navbar-light-link-hover-bg: #003c4a;


$footer_liner-card-inner-border: #ebdc14;

$footer-accent-color: #ebdc14;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$bg-dark: #797922;

$postbody-title-card-title-color: #fff;

// These variables need to be defined for the files to compile. The specific variables for the child theme's button colors are defined
// at the bottom of the file but by default they use the child theme's theme-colors. There appears to be redundancy in defining colors but each line is necessary.
// There are unique names for the child theme button colors to avoid any conflict with the general theme colors.


$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);  // default
$box-shadow:                  0 .5rem 1rem rgba($black, .15);  // default
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);  // default
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);  // default
$enable-gradients:               false;
$enable-shadows:              false;
$input-btn-focus-width:       .2rem;  // default
$btn-focus-width:             $input-btn-focus-width;  // default


$bg-dark-info: #00DAE6;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
.tiki-top-nav-light {
    --tiki-top-bg: #{$tiki-top-bg}; // linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
    --tiki-top-color: #{$navbar-light-link-color};
    --tiki-top-hover-color: #{$navbar-light-link-hover-color};
    --tiki-top-text-color: #{$navbar-light-link-hover-color};
    --tiki-top-border: solid #000;
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: #{$topbar-light-bg};
    --tiki-topbar-color: #fff;
    --tiki-topbar-hover-color: darken(#fff, 8%);
    --tiki-topbar-text-color: darken(#fff, 8%);
}

.tiki-top-nav-dark {
    --tiki-top-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
    --tiki-top-color: #{$top-dark-link-color};
    --tiki-top-hover-color: #{$top-link-hover-color};
    --tiki-top-text-color: #{$top-link-hover-color};
    --tiki-top-border: solid #000;
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: #{$topbar-dark-bg};
    --tiki-topbar-color: #fff;
    --tiki-topbar-hover-color: darken(#fff, 8%);
    --tiki-topbar-text-color: darken(#fff, 8%);
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-top-width: 0px;
    --tiki-top-border-bottom-width: 5px;
}

header.navbar.fixed-top {
//    --tiki-fixed-top-border-top-width: 0px;
//    --tiki-fixed-top-border-right-width: 0px;
//    --tiki-fixed-top-border-bottom-width: 5px;
//    --tiki-fixed-top-border-left-width: 0px;
//    --tiki-topbar-light-border-color: #000;
    --tiki-top-border-width: 0 0 5px 0;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
//    --tiki-admin-top-nav-color: #{$navbar-light-color};
    --tiki-admin-top-nav-color: #{$navbar-light-link-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-light-link-hover-color};
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: #{$link-color};
    --tiki-admin-top-nav-hover-color: #{$link-color};
//    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%) !important;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$white};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%) !important;
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #063035; // #{$top-dark-bg};
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-bg: #{$primary}; // no $bg-light
}