// Amelia for Bootstrap 5
// Variables

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //

// Color system
$gray-900: #212529;
$gray-800: #343a40;
$gray-700: #495057;
$gray-600: #6c757d;
$gray-500: #adb5bd; //  lighten(#000000, 33.5%); //
$gray-400: #ced4da;
$gray-300: #dee2e6;
$gray-200: #e9ecef;
$gray-100: #f8f9fa ;
$white: #fff;
$black: #000;

$red:     #dc3545;  // default // BS53
$pink:    #d63384;  // default // BS53 (code color)
$green:   #198754;  // default // BS53
$green-300: tint-color($green, 40%);  // default // BS53
$red-300: tint-color($red, 40%);  // default // BS53

$primary: #F5CDC2; // #f5af9f;  // #F3C9C9;
$secondary: #E2CBCB;
$success: #A5E4A0;
$info: #D5CDEA;
$warning: #E4D081;
$danger: #EEC9AF;
$dark: #FDF7F9; // #ad1d28;
$light: #0F7D85; // #5AE3ED;

$theme-colors: (
    "primary":           #F5CDC2, // #f5af9f, //#F3C9C9, // #ad1d28,
    "secondary":         #E2CBCB, // #c05a50, // #82241b,
    "success":           #A5E4A0, // #81da78, // #48ca3b,
    "info":              #D5CDEA, // #907bc7, // #4d3a7d,
    "warning":           #E4D081, // #e0c96b,
    "danger":            #EEC9AF, // #d98c56,
    "light":             #0F7D85, // #5AE3ED, // #18cbd8,
    "dark":              #FDF7F9, //  #ad1d28, // $black,
);



// Options
// Prefix for :root CSS variables

$variable-prefix:             bs-;  // default // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix;  // default
// Gradient
// Spacing
// Body
$body-bg: #0b646b; // #108a93; WAI
$body-color: #fff;
$body-tertiary-bg: #16838c;
$body-secondary-color:      rgba($body-color, .75);

$body-secondary-bg:         $light; // $gray-200 default;

$body-tertiary-color:       rgba($body-color, .5);  // default
$body-tertiary-bg:          $gray-800;

$body-emphasis-color:       $white; // $black default

// Utility maps
// Links
$link-color: #FCF6E8; // lighten(#E4D081FF, 15%); //lighten($warning, 15%);
$link-shade-percentage:                   20%;  // default // BS53
$link-hover-color: shift-color($link-color, $link-shade-percentage); // !default;
$link-hover-decoration: underline;

// Paragraphs
// Grid breakpoints
// Grid containers
// Grid columns
// Container padding
//Components
$padding-base-vertical: .5rem;
$padding-large-vertical: .9rem;

$component-active-color:       #ddb9af; // $white;  // default
$component-active-bg:         #981919; // $primary;  // default

// Typography
//Fonts
$font-family-sans-serif: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;   //"Cabin", Arial, sans-serif;
$headings-font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif; // 'Lobster', cursive;
$headings-font-style: italic;
$blockquote-footer-color: #E6E8EA;
$text-muted:                  var(--#{$prefix}secondary-color);  // default // Deprecated in 5.3.0
$mark-bg: $light;

// Tables
$table-color:                 var(--#{$prefix}body-color);
$table-striped-color:         $table-color;
$table-bg: transparent;
$table-head-bg: #108a93;
$table-head-color: #fff;

// Forms
$form-text-color:                       var(--#{$prefix}body-color);
$input-bg: var(--#{$prefix}body-bg); // $gray-100;
$input-color: var(--#{$prefix}body-color); // $gray-800;
$input-placeholder-color: var(--#{$prefix}secondary-color); // #585E65;
$input-group-addon-bg: var(--#{$prefix}tertiary-bg);

// Form validation
// Z-index master list
$form-feedback-invalid-color:       $danger;  // default // BS53
$form-invalid-color:                $form-feedback-invalid-color;  // default // BS53

// Navs
$nav-link-color:                  var(--#{$prefix}link-color);  // default // #444;
//$nav-link-color:                  var(--#{$prefix}link-color);
$nav-link-hover-color:            var(--#{$prefix}link-hover-color);

$nav-tabs-border-color:             $gray-300;
$nav-tabs-link-active-color:        var(--#{$prefix}emphasis-color); //  !default; was lighten(#444, 8%);
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color;
$nav-tabs-link-active-color:        $gray-200;
$nav-tabs-link-active-bg:           var(--#{$prefix}body-bg);  // default
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg;

$nav-link-disabled-color: var(--#{$prefix}secondary-color);  // default // darken($nav-link-color, 10%);
$nav-pills-link-active-bg:          $component-active-bg; // !default;darken($body-bg, 8%);

// Navbar
$navbar-dark-color:                 $link-color;
$navbar-dark-hover-color:           rgba($white, .75); // !default; // lighten($navbar-dark-color, 25%);
$navbar-dark-active-color:          $navbar-dark-color;
$navbar-dark-disabled-color:        rgba($white, .25); //  !default;lighten($navbar-dark-color, 50%);

$navbar-light-color:                $link-color; // $black;
$navbar-light-hover-color:          rgba($black, .7);  // default
$navbar-light-active-color:         rgba($black, .9);  // default
$navbar-light-disabled-color:       rgba($black, .3);  // default

$navbar-color: $link-color;
$navbar-light-hover-color: $link-hover-color;
$navbar-link-active-color: $link-hover-color;

// Navbar links

// Dropdowns
$dropdown-color:                   #444;
$dropdown-bg:                      #fff;
$dropdown-border-color:            #444;
$dropdown-link-color:              #444;
$dropdown-link-hover-color:        #fff;
$dropdown-link-hover-bg:           #15b5c1;

$dropdown-dark-color:               $gray-300;
$dropdown-dark-bg:                  $gray-800;
$dropdown-dark-link-hover-bg:       rgba($white, .15);  // default

// Pagination
$pagination-bg: #0C5055;

// Pagination
$pagination-bg: var(--#{$prefix}body-bg);  // default
$pagination-focus-color: var(--#{$prefix}link-hover-color); // !default;darken($link-color,8%);
$pagination-focus-bg: var(--#{$prefix}secondary-bg); // !default
$pagination-hover-color: $link-color;
$pagination-hover-bg: var(--#{$prefix}tertiary-bg);// !default
$pagination-active-color:           $component-active-color;  // default
$pagination-active-bg:              $component-active-bg;  // default
$pagination-disabled-color: $pagination-focus-color;
$pagination-disabled-bg: #094344;

    // Jumbotron (retired)
$jumbotron-bg: darken($body-bg, 5%); // Todo

// Cards
$card-bg: #0D6C73;
$card-border-color: #0d747c;
$card-cap-bg: #0D676E;

// Accordion

// scss-docs-start accordion-variables
$accordion-padding-y:                     1rem;  // default
$accordion-padding-x:                     1.25rem;  // default
$accordion-color:                         var(--#{$prefix}body-color);  // default
$accordion-bg:                            var(--#{$prefix}body-bg);  // default
//$accordion-border-width:                  $border-width;  // default
$accordion-border-color:                  var(--#{$prefix}border-color);  // default
//$accordion-border-radius:                 $border-radius;  // default
//$accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width);  // default

//$accordion-body-padding-y:                $accordion-padding-y;  // default
//$accordion-body-padding-x:                $accordion-padding-x;  // default

//$accordion-button-padding-y:              $accordion-padding-y;  // default
//$accordion-button-padding-x:              $accordion-padding-x;  // default
$accordion-button-color:                  $accordion-color !default;
$accordion-button-bg:                     #6e0d0d; // #ddb9af; // var(--#{$prefix}accordion-bg) !default;
//$accordion-transition:                    $btn-transition, border-radius .15s ease !default;
$accordion-button-active-bg:              #981919; // tint-color($component-active-bg, 90%) !default;
$accordion-button-active-color:           #ddb9af; //shade-color($primary, 10%) !default;

//$accordion-button-focus-border-color:     $input-focus-border-color !default;
//$accordion-button-focus-box-shadow:       $btn-focus-box-shadow !default;

$accordion-icon-width:                    1.25rem;  // default
$accordion-icon-color:                    $accordion-button-color;  // default
$accordion-icon-active-color:             $accordion-button-active-color;  // default
$accordion-icon-transition:               transform .2s ease-in-out;  // default
$accordion-icon-transform:                rotate(-180deg);  // default

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");  // default
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");  // default
// scss-docs-end accordion-variables

// Tooltips
// Popovers
$popover-bg: #13a0aa;
$popover-body-color: #fff;
$popover-header-bg: #18cbd8;
$popover-header-color: #fff;

// Toasts
// Badges
$badge-color: #000;

// Modals
$modal-content-bg: var(--#{$prefix}body-bg);  // default

// Alerts
// Progress bars
$progress-bg:                       $gray-200;  // default
//$progress-border-radius:            $border-radius !default;
//$progress-box-shadow:               $box-shadow-inset !default;
$progress-bar-color:                $black; // $white !default;
$progress-bar-bg:                   $primary;  // default

    // List group
$list-group-bg: var(--#{$prefix}body-bg);  // default
$list-group-color: var(--#{$prefix}body-color); // !default;
$list-group-disabled-color: var(--#{$prefix}secondary-color); // !default;darken($list-group-color, 10%);

// Image thumbnails
// Figures
$figure-caption-color: $gray-100;

// Breadcrumbs
$breadcrumb-bg: #0C5055;
$breadcrumb-active-color: #BDBDBD;

// Carousel
// Close
// Offcanvas
// Code
$code-color:                        $pink;  // default // BS53

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

$bg-dark: #ad1d28 !important;
$navbar-dark-bg: #ad1d28 !important;

$blockquote-color: #E6E8EA;
$tiki-blockquote-left-border-color: #E6E8EA;
$dropdown-item: $dropdown-link-color;

//$megamenu-dropdown-link-color: $dropdown-link-color;